body {
    background: #111;
    margin: 0;
}

video, iframe{
    max-height: 100vh;
    width: auto;
    display: block;
    margin: auto;
}

.floating{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
}