html{
    --slide-duration: 1s;
}



@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body {
    background: #111;
    margin: 0;
    font-family: 'Space Mono', monospace;
    color: white;
}

video, iframe{
    max-height: 100vh;
    width: auto;
    display: block;
    margin: auto;
}

.floating{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
}

.flex-center{
    display: flex;
    align-items: center;
}



.balloon{
    /* animation: up 4s infinite; */
    position: absolute;
    height: 55vh;
}

.string{
    transform-origin: center;
    animation: string 0.5s infinite linear;
    animation-direction: alternate;
}

.balloon:nth-child(1n) .string{
    animation-delay: .4s;
}
.balloon:nth-child(2n) .string{
    animation-delay: 1s;
}
.balloon:nth-child(3n) .string{
    animation-delay: .8s;
}
.balloon:nth-child(4n) .string{
    animation-delay: 0s;
}
@keyframes string{
    from{transform: translateX(-15px)} 
    to{transform:translateX(2px)}
} 


.stamp{
    animation: fade-out 3s .6s 1 forwards;
    display: block;
    font-weight: bold;
}
@keyframes fade-out{
    to{opacity: .7}
}


.background{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.slide-in-right{
    animation: slide-in-right var(--slide-duration) 1 linear;
}
@keyframes slide-in-right{
    from{transform: translateX(100%)}
    to{transform: translateX(0%)}
}